<!DOCTYPE html>
<html ng-app="store">
<head>
    <link rel="stylesheet" href="lib/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<!-- Module 2 -->
<body ng-controller="StoreController as store">
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="product in store.products">
            <h3>
                {{product.name}}
                <em class="pull-right">{{product.price | currency}}</em>
                <img ng-src="{{product.images[0].full}}"/>
                <!-- <img ng-src="{{product.images.length}}"/> -->
            </h3>
        </li>
    </ul>

    <section ng-init="tab = 1" ng-controller="PanelController as panel">
        <ul class="nav nav-pills">
            <li ng-class="{ active: panel.isSelected(1) }">
                <a href ng-click="panel.selectTab(1)">Description</a>
            </li>
            <li ng-class="{ active: panel.isSelected(2) }">
                <a href ng-click="panel.selectTab(2)">Specifications</a>
            </li>
            <li ng-class="{ active: panel.isSelected(3) }">
                <a href ng-click="panel.selectTab(3)">Reviews</a>
            </li>
        </ul>
    </section>

    <div class="panel" ng-show="tab === 1">
        <h4>Description</h4>
        <p>{{product.description}}</p>
    </div>
    <div class="panel" ng-show="tab === 2">
        <h4>Specifications</h4>
        <blockquote>None yet</blockquote>
    </div>
    <div class="panel" ng-show="tab === 3">
        <h4>Reviews</h4>
        <blockquote>None yet</blockquote>
    </div>




<!-- Module 1
<div ng-controller="StoreController as store">
    <div ng-hide="store.product.soldOut">
        <div ng-repeat="product in store.products">
            <h1>{{product.name}}</h1>
            <h2>${{product.price}}</h2>
            <p>{{product.description}}</p>
            <button ng-show="product.canPurchase"> Add to Cart </button>
        </div>
    </div>
</div>
-->

</body>
<script src="lib/angular.min.js"></script>
<script src="app.js"></script>
</html>